*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body{
  padding-top: 5rem;
  font-family: "Roboto Mono", monospace;
  background-color: #1c182e;
  display:flex;
  align-items: center;
  flex-direction: column;
}


h1{
  font-size:60px;
}

.img_Background{
  width: 40%;
  position: absolute;
  left: 80px;
  top:260px;
  z-index: -3;
}

.container_title{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  
  margin-top:3rem;

  color: rgb(212, 212, 212);
}


.img_alura{
  width: 30%;
  margin-top: 0.5rem;
}

label{
  margin-top: 2rem;
  color:rgb(212, 212, 212);
}

input{
  padding: 4px 8px;
  border-radius: 5px;
  background: #ffffff;
}

button{
  margin: 0.5rem;
  padding:0.5rem 0.5rem;
  border-radius: 1rem;
  background: #c4ade2;
}

.img_cash{
  width: 10%;
  position: absolute;
  left: 1200px;
  top:260px;
}

.img_coin{
  width: 10%;
  position: absolute;
  left: 1100px;
  top:450px
}

.img_wallet{
  width: 10%;
  position: absolute;
  left: 800px;
  top:500px;
}

.img_money{
  width: 10%;
  position: absolute;
  left: 1300px;
  top:0px;
}

#valueConvert{
  color: #c4ade2;
  padding: 0.3rem;
  margin: 1rem;
  background-color: #1c182ec7;
  border-radius: 1rem;

  font-size: 1.2rem;
}


/* media query */
@media (max-width:1024px){
  .container_title h1{
    text-align: center;
    font-size: 2rem;
  }
  .img_alura{
    display: none;
  }

  .img_Background{
    width:50%;
    left: 1rem;
    top: 18rem;
  }

  .img_wallet{
    position: relative;
    left: 5rem;
    top: -3rem;
  }

  .img_coin{
    position: relative;
    left: 8rem;
    top: -5rem;
  }

  .img_cash{
    position: relative;
    left: 11rem;
    top: -8rem;
  }

  .img_money{
    position: relative;
    left: 12rem;
    top: -20em;
  }
}